<!DOCTYPE html>
<html>
    <head>
      <title>DJ Michael Toor</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> 
      <link rel="stylesheet" href="/stylesheets/main.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    </head>
    <body>
      <nav id="navbar" class="navbar navbar-expand-sm fixed-top navbar-dark">
        <img src="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/t/59b9f40059cc68f015b76c7f/1517871306179/?format=1500w" width="300">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bio">BIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/studio">STUDIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/contact">CONTACT</a>
              </li>
            </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      WHERE TO FIND ME
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/calender">CALENDER</a>
                      <a class="dropdown-item" href="/archive">ARCHIVE OF GIGS</a>
                    </div>
                  </div>
                </li>
              </ul>
          </div>
          <div class="media">
            <a href="https://www.facebook.com/MichaelToor"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/michael_toor/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.snapchat.com/add/michael_toor"><i class="fab fa-snapchat-ghost"></i></a>
            <a href="https://soundcloud.com/michael-toor"><i class="fab fa-soundcloud"></i></a>
            <a href="https://www.mixcloud.com/MichaelToor/"><i class="fab fa-mixcloud"></i></a>
          </div>
      </nav>
      
      <div class="row">
        <div class="col-lg-12 col-md-12" id ="rightelement">