<!DOCTYPE html>
<html>
    <head>
      <title>DJ Michael Toor</title>
      <!-- mobile screen adjustment -->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- stylesheets -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> 
      <link rel="stylesheet" href="/stylesheets/main.css">
      <link rel="stylesheet" href="/stylesheets/calendar.css">  
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

      <!-- calendar scripts -->
      <script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    </head>
    <body>
      <nav id="navbar" class="navbar navbar-expand-sm fixed-top navbar-dark">
        <img class="michaelToorLogo" src="https://lh3.googleusercontent.com/GQ61ovLeLDCfl3QKtqNHkoNBzDVThxTJOHSD9QHqzRJsxA5oa7LgtvpZZaIBeA3bUIBgjoYcCAimdk0v2HEAlh52ibVsz2-9Qsr8qPUUFJ96QPbNCUEWJooFAYP9GcXlgAi8PmNIO1Vv-lgzEwLEmOwrQI-TajnbUzNiZ5oe2JLRMrNip_hdYYMHqIXi8UTVChdcWu9OCie8YOCb-b-dAlX02NOuJ-ZMELNO9c6XTDEgVYVEUqZtq9mBncDslgzVDbV48yDl-I3_0XOOndaTChH9XzJCxWEkthmUTiX5qH2wL0I9d05_bF0eZRxElNQsHM8zG9oHJ9-kixrMXGrtb8MSQ01aPXU-z0eVdVaZ_UQlX4pCQHkeAwEjoh_1eLs-uLwXhrjO4njQpm8zet94bPcDAug8FCqHL9fNNytDZ8cdsZZrKiqn5WUvZR3QivuODx27e6AyAFzDEP327mAaR5kyZXIDyXkRgw9Mfvdoc_rwPHG2jyT5w_2s0MmTSQDwafokePd26gcLqzCRrILiNSP_kf9n1aEuLAgx7GhiJn-kp_m_GETykH_kuB1r7tgWMOW-M3q3SdrOOhnjcNpPrnjeWAQNsLjgRRyN4Q=w1366-h399-no">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bio">BIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/studio">STUDIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/contact">CONTACT</a>
              </li>
            </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      WHERE TO FIND ME
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/calendar">CALENDAR</a>
                      <a class="dropdown-item" href="/archive">ARCHIVE OF GIGS</a>
                    </div>
                  </div>
                </li>
              </ul>
          </div>
          <div class="media">
            <a href="https://www.facebook.com/MichaelToor"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/michael_toor/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.snapchat.com/add/michael_toor"><i class="fab fa-snapchat-ghost"></i></a>
            <a href="https://soundcloud.com/michael-toor"><i class="fab fa-soundcloud"></i></a>
            <a href="https://www.mixcloud.com/MichaelToor/"><i class="fab fa-mixcloud"></i></a>
          </div>
      </nav>
      
      <div class="row">
        <div class="col-lg-12 col-md-12" id ="rightElement">