<% include partials/header %>
<div class="col-lg-8 col-md-6" >
    <div id="leftElement">
        <li class="backgroundIMG" id="backgroundIMG4"></li>
    </div>
</div>
<div class="col-lg-4 col-md-6" id ="rightElement">
    <div class="container">
        <h2>ABOUT MICHAEL TOOR</h2>
        <img class="picture" src="../images/Michael+Toor+at+District.jpg">
        <p style="padding-top: 20px;" id="bioText"></p>
    </div>
</div>
<script>
    let bioText = <%- JSON.stringify(bioText) %>;
    document.getElementById("bioText").innerHTML  = bioText;
</script>
<% include partials/footer %>