<% include partials/header %>
<div class="col-lg-8 col-md-6" >
    <div id="leftElement">
        <li class="backgroundIMG" id="backgroundIMG2"></li>
    </div>
</div>
<div class="col-lg-4 col-md-6" id ="rightElement">
    <div class="container">
        <h2>ABOUT MICHAEL TOOR</h2>
        <img class="picture" src="https://lh3.googleusercontent.com/H0IqD21rEYvsbc-ZQe7W9mULsMCcKOTb7LOZP37RIDW0cDWSW-bh7vIN29Ln8zo2IlRnn_uOQVRNr9wTIdDCVFa9cUDS8cJPhd3UohPrvpvihaPwG7nLI-p6A95gf_8BgUJ20pD8nmyK2MrgFwRWlkvUAQ5CyLyZACM2YFv-BTGpoMg0HmCUm9tNLhW_ZwhKmi-c_fq9nJ0t_TydbzmQES94mpYFV5ww7TxT304oAxY6vPKghrPRhJ0Y_OzL8X5oy-aFnXHcVHg2VM8I8Jh9cj4bbPO4qdw3wJEItDW0nfVZ6A4FIw3SiWuViR8wUwxIyz24mk7WU5xPglYcv0KqIAZZq4H7IPriNk64mTtCrpegi1a4zYMAc-WquKh5-QEvSVH0FlyVIFnQ4G1FnlxJKBhf9-CTt9_brFdm4ZdqI9ibIYLfuXZxBeJmYN__RcRU8oLdze-gOvxBF8qSQfjd6Pv6wREVrs0JNkwfnwUFyaU8jyUxVAAaxqMjzwWtwL_pJX1Eds1LlaXzph0zVOzrDOuCkr01casqqRO7bdLt5jIt6bTMm5agtAzchP-K5z9aGwDenXIkHO9aNVTK0RQ8Qd3MVLxWSYOwnW4vQg=w500-h333-no">
        
        <p style="padding-top: 20px;" id="bioText"></p>
    </div>
</div>
<script>
    let bioText = <%- JSON.stringify(bioText) %>;
    document.getElementById("bioText").innerHTML  = bioText;
</script>
<% include partials/footer %>