<!DOCTYPE html>
<html>
    <head>
      <title>DJ Michael Toor</title>
      <!-- mobile screen adjustment -->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- stylesheets -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> 
      <link rel="stylesheet" href="/stylesheets/main.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    </head>
    <body>
      <nav id="navbar" class="navbar navbar-expand-sm fixed-top navbar-dark">
        <img class="michaelToorLogo" width="1200" src="../images/MichaelToorLogo.png" style="height:100%; width:100%;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bio">BIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/studio">STUDIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/contact">CONTACT</a>
              </li>
            </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      WHERE TO FIND ME
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/calendar">CALENDAR</a>
                      <a class="dropdown-item" href="/archive">ARCHIVE OF GIGS</a>
                    </div>
                  </div>
                </li>
              </ul>
          </div>
      </nav>      
      <div class="row">

<div class="col-lg-8 col-md-6" >
    <div id="leftElement">
        <li class="backgroundIMG" id="backgroundIMG3"></li>
    </div>
</div>
<div class="col-lg-4 col-md-6" id="rightElement">
    <div class="container"></div>
        <h2>CONTACT INFO</h2>
        <p>If you have any enquiries, fill out the form below and you'll receive a response promptly.</p>

    <% if(success){ %>
        <section class="success">
            <br>
            <br>
            <p>Message Received - Thank You</p>
        </section>
    <% } else { %>
        
    <%  if(errors){ %>
            <section class="errors">
                <ul>
    <%              errors.forEach(function(error){ %>   
                        <li>"<%= error.msg %>"</li>
    <%              }) %>    
                </ul>
            </section>
    <%  } %>
        <form action="/contact" method="POST">
            <label for="fname">First Name</label>
            <input class="form-control" type="text" id="fname" name="fname" placeholder="First Name">
            <label for="lname">Last Name</label>
            <input class="form-control" type="text" id="lname" name="lname" placeholder="Last Name" style="float: right;"><br>
            <label for="email">Email Address</label>
            <input class="form-control" type="text" id="email" name="email" placeholder="Email">
            <label for="subject">Subject</label>
            <input class="form-control" type="text" id="subject" name="subject" placeholder="Subject">
            <label for="message">Message</label>
            <input class="form-control" type="text" id="message" name="message" placeholder="Message">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <% } %>
</div>
<% include partials/footer %>