<% include partials/header %>

<h2>MIX TRACKS</h2>
<div class="tracks">
    <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&amp;light=1&amp;feed=%2FMichaelToor%2Fbig-room-bangers-mix-i%2F" frameborder="0"></iframe>
</div>
<div class="tracks">
    <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&amp;light=1&amp;feed=%2FMichaelToor%2F2017-early-club-vibes-mix%2F" frameborder="0"></iframe>
</div>
<div class="sqs-block soundcloud-block sqs-block-soundcloud tracks" data-aspect-ratio="117.3913043478261" data-block-type="56" id="block-yui_3_17_2_9_1506138096486_8644">
    <div class="sqs-block-content sqs-intrinsic" id="yui_3_17_2_1_1526931261415_75" style="padding-bottom: 117.391%;">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?visual=true&amp;url=https%3A%2F%2Fapi.soundcloud.com%2Fusers%2F232938346&amp;show_artwork=true&amp;callback=YUI.Env.JSONP.yui_3_17_2_1_1506138096486_690029&amp;wmode=opaque"></iframe>
    </div>
</div>

<% include partials/footer %>