<% include partials/header_full %>

<div class="container">
    <h2>MICHAEL'S HOME STUDIO</h2>
    
    <img class="picture" src="https://lh3.googleusercontent.com/hMO3fjre4M-dwsOolGftdFvGEm54SZcX7PUP6eqFh03ryF6yuoIkp4dG-kjyQ605X4wvx0-3Jl-KZQg2gcmSDyMTZDINPaQp8oR0VeERfgl7g2TJxefQsq6ZRGYhR8r5lyrjhDGCN8aWKViPYwZCMureFqbehimTV2UiLoLEdcUhSREBug9YWZLUpTK4rboH9G7PeLzXR02aSj-cNHDa3hoOSmkbAyolCBpqLcu-6_sTS-QemhOEunWTeSWckTPG8Kadbzib1HjkfNMdPcnwgeQD0eqc_7k8a-3wJshAy8keJqEpqx3n3xZ4NK_U7SwqSjr0rx48bAHdpXOC7c6AfKn4opGMtp7JAvFnGHgpz3Z2qtQvl3o6wK-dCDsqkF-f7w5gtfSLCpG2bB9srrms6FgnyU4f-bYwXi9U2oNQVoubcxLgo8A54nGV7TLkYzmlrPUDTaGrW7AbxgJDZtHXJ_jaaIP1R-jBHJkXdkDKvmsV6FKbfZ2LGWpARRRZvi3Jl5AIHhmxiLyzj94y-L4xgeLRgtrU-dcezuVF7b_zWZE72BHs-Dk4401k-u3i4bN8qlDu-fr8K0f8EqwGquwWsFHB6aw1r9yFkBd2yg=w960-h320-no">
    
    <p style="padding-top: 20px;">
        Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ein Musterbuch zu erstellen. Es hat nicht nur 5 Jahrhunderte überlebt, sondern auch in Spruch in die elektronische Schriftbearbeitung geschafft (bemerke, nahezu unverändert). Bekannt wurde es 1960, mit dem erscheinen von "Letraset", welches Passagen von Lorem Ipsum enhielt, so wie Desktop Software wie "Aldus PageMaker" - ebenfalls mit Lorem Ipsum.
    </p>

    <div class="instagramContent">
        <a href="https://www.instagram.com/p/84FcxcA_eq/">
            <img class="instagramPicture" src="https://instagram.fybz2-2.fna.fbcdn.net/vp/5a8c751f1f6bf02252418221601ce186/5C0E8B1B/t51.2885-15/e35/12063274_665787490223784_1139596612_n.jpg">
        </a>
    
        <a href="https://www.instagram.com/p/84FMq8g_eM/">
            <img class="instagramPicture" src="https://instagram.fybz2-2.fna.fbcdn.net/vp/92053c863b5c8310e67ec5ce915a5305/5C00107E/t51.2885-15/e35/11372425_405573332974017_120453794_n.jpg">
        </a>
        
        <a href="https://www.instagram.com/p/BAS_UEDA_Zf/?taken-by=michael_toor">
            <img class="instagramPicture" src="https://instagram.fybz2-2.fna.fbcdn.net/vp/aecd3c0b536a1f72056cb1051d0d1c2e/5B7C7508/t51.2885-15/e15/1169912_1755871217967443_1082190547_n.jpg">
        </a>
    </div>
    
</div>

<% include partials/footer %>