<% include partials/header_full %>
        <div class="container">
            <h2>SAUNA SOUND RECORDING STUDIO</h2>
            <img class="picture" src="../images/Control+Room+Pano.jpg">
            <p style="padding-top: 20px;" id="studioText"></p>
        </div>
    </div>
</div>
<script type="text/javascript">
    let studioText = <%- JSON.stringify(studioText) %>;
    document.getElementById("studioText").innerHTML = studioText;
</script>
<% include partials/footer %>