<% include partials/header_full %>

<div class="container">
    <h2>MICHAEL'S HOME STUDIO</h2>
    
    <img class="picture" src="https://lh3.googleusercontent.com/hMO3fjre4M-dwsOolGftdFvGEm54SZcX7PUP6eqFh03ryF6yuoIkp4dG-kjyQ605X4wvx0-3Jl-KZQg2gcmSDyMTZDINPaQp8oR0VeERfgl7g2TJxefQsq6ZRGYhR8r5lyrjhDGCN8aWKViPYwZCMureFqbehimTV2UiLoLEdcUhSREBug9YWZLUpTK4rboH9G7PeLzXR02aSj-cNHDa3hoOSmkbAyolCBpqLcu-6_sTS-QemhOEunWTeSWckTPG8Kadbzib1HjkfNMdPcnwgeQD0eqc_7k8a-3wJshAy8keJqEpqx3n3xZ4NK_U7SwqSjr0rx48bAHdpXOC7c6AfKn4opGMtp7JAvFnGHgpz3Z2qtQvl3o6wK-dCDsqkF-f7w5gtfSLCpG2bB9srrms6FgnyU4f-bYwXi9U2oNQVoubcxLgo8A54nGV7TLkYzmlrPUDTaGrW7AbxgJDZtHXJ_jaaIP1R-jBHJkXdkDKvmsV6FKbfZ2LGWpARRRZvi3Jl5AIHhmxiLyzj94y-L4xgeLRgtrU-dcezuVF7b_zWZE72BHs-Dk4401k-u3i4bN8qlDu-fr8K0f8EqwGquwWsFHB6aw1r9yFkBd2yg=w960-h320-no">
    
    <p style="padding-top: 20px;">
        Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ein Musterbuch zu erstellen. Es hat nicht nur 5 Jahrhunderte überlebt, sondern auch in Spruch in die elektronische Schriftbearbeitung geschafft (bemerke, nahezu unverändert). Bekannt wurde es 1960, mit dem erscheinen von "Letraset", welches Passagen von Lorem Ipsum enhielt, so wie Desktop Software wie "Aldus PageMaker" - ebenfalls mit Lorem Ipsum.
    </p>
    
    <a class="instagram_link" href="https://www.instagram.com/p/84FcxcA_eq/" class="image-slide-anchor content-fill" style="overflow: hidden;">
        <noscript><img class="picture" src="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/59b9bb6de03f38cd8186ffff/59b9bb6d88199ebfa3908652/1505344368274/"  alt="View from the drum throne #drumset #drums #drumsetupgrade #zildjian #remo #studio"  /></noscript><img class="thumb-image loaded" data-src="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/59b9bb6de03f38cd8186ffff/59b9bb6d88199ebfa3908652/1505344368274/" data-image="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/59b9bb6de03f38cd8186ffff/59b9bb6d88199ebfa3908652/1505344368274/" data-image-dimensions="640x640" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="59b9bb6d88199ebfa3908652" data-type="image" style="opacity: 1; left: 0px; top: 0px; width: 127px; height: 127px; position: relative;" data-position-mode="standard" data-parent-ratio="1.0" alt="View from the drum throne #drumset #drums #drumsetupgrade #zildjian #remo #studio" src="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/59b9bb6de03f38cd8186ffff/59b9bb6d88199ebfa3908652/1505344368274/?format=300w" data-image-resolution="300w">
    </a>
    <a class="instagram_link" href="https://www.instagram.com/p/84FMq8g_eM/" class="image-slide-anchor content-fill" style="overflow: hidden;">
        <noscript><img class="picture" src="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/59b9bb6de03f38cd8186ffff/59b9bb6d88199ebfa3908653/1505344366690/"  alt="Upgraded drum set #drumset #drums #drumsetupgrade #zildjian #remo #studio"  /></noscript><img class="thumb-image loaded" data-src="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/59b9bb6de03f38cd8186ffff/59b9bb6d88199ebfa3908653/1505344366690/" data-image="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/59b9bb6de03f38cd8186ffff/59b9bb6d88199ebfa3908653/1505344366690/" data-image-dimensions="640x640" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="59b9bb6d88199ebfa3908653" data-type="image" style="opacity: 1; left: 0px; top: 0px; width: 127px; height: 127px; position: relative;" data-position-mode="standard" data-parent-ratio="1.0" alt="Upgraded drum set #drumset #drums #drumsetupgrade #zildjian #remo #studio" src="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/59b9bb6de03f38cd8186ffff/59b9bb6d88199ebfa3908653/1505344366690/?format=300w" data-image-resolution="300w">
    </a>
    
    <a href="https://www.instagram.com/p/xH77TJA_VO/" class="image-slide-anchor content-fill" style="overflow: hidden;">
        <noscript><img src="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/59b9bb6de03f38cd8186ffff/59b9bb6d88199ebfa3908654/1505344366677/"  alt="Control Room"  /></noscript><img class="thumb-image loaded" data-src="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/59b9bb6de03f38cd8186ffff/59b9bb6d88199ebfa3908654/1505344366677/" data-image="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/59b9bb6de03f38cd8186ffff/59b9bb6d88199ebfa3908654/1505344366677/" data-image-dimensions="640x640" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="59b9bb6d88199ebfa3908654" data-type="image" style="opacity: 1; left: 0px; top: 0px; width: 132px; height: 132px; position: relative;" data-position-mode="standard" data-parent-ratio="1.0" alt="Control Room" src="https://static1.squarespace.com/static/5902a4bdb3db2bade49c52a0/59b9bb6de03f38cd8186ffff/59b9bb6d88199ebfa3908654/1505344366677/?format=300w" data-image-resolution="300w">
    </a>
      
    
    
    
</div>

<% include partials/footer %>