body {
    padding-top: 65px; 
}

.moduleButton {
    float: left;
    border: none;
    background-color: rgb(26, 0, 13);
    color: white;
    display: inline-block;
    font-size: 18px;
}

.moduleButtons {
    padding-bottom: 80px;
}

#rightElement {
    padding-top: 40px;
}

#deleteB {
    display: none;
}

#deleteLocB {
    display: none;
}

#gigsModule {
    display: block;
}

#newLocationModule {
    display: none;
}

#editLocationModule {
    display: none;
}